.triangle {
    cursor: pointer;
}

.triangle-up {
    width: 0;
    height: 0;
    margin-top: 36px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #80cbc4;
}

.triangle-down {
    width: 0;
    height: 0;
    margin-top: 5px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #b0bec5;
}