body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav .brand-logo-color-fix {
    color: #444;
}

nav ul a {
    color: #444;
}

img.responsive-img {
    height: 100%;
}

#toast-container {
    top: 10%;
    right: 24px;
}

input:not([type]) + label:after, input[type=text] + label:after, input[type=password] + label:after, input[type=email] + label:after, input[type=url] + label:after, input[type=time] + label:after, input[type=date] + label:after, input[type=datetime-local] + label:after, input[type=tel] + label:after, input[type=number] + label:after, input[type=search] + label:after, textarea.materialize-textarea + label:after {
    display: block;
    content: "";
    position: absolute;
    top: 60px;
    width: 200px;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out;
}

.info-alert {
    color: #333;
    background-color: #d9edf7;
    padding: 15px;
}

.error-alert {
    color: #a94442;
    background-color: #f2dede;
    padding: 10px 5px;
}

.danger-alert {
    color: #fff;
    background-color: #e22d3a;
    padding: 10px 5px;
}

.error-alert li {
    list-style-type: disc;
}