body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav .brand-logo-color-fix {
    color: #444;
}

nav ul a {
    color: #444;
}

img.responsive-img {
    height: 100%;
}

#toast-container {
    top: 10%;
    right: 24px;
}

.info-alert {
    color: #333;
    background-color: #d9edf7;
    padding: 15px;
}

.error-alert {
    color: #a94442;
    background-color: #f2dede;
    padding: 10px 5px;
}

.danger-alert {
    color: #fff;
    background-color: #e22d3a;
    padding: 10px 5px;
}

.error-alert li {
    list-style-type: disc;
}