body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f5f5f5;
}

main {
    flex: 1 0 auto;
}

nav .brand-logo-color-fix {
    color: #444;
}

nav ul a {
    color: #444;
}

img.responsive-img {
    height: 100%;
}

input:not([type]) + label:after, input[type=text] + label:after, input[type=password] + label:after, input[type=email] + label:after, input[type=url] + label:after, input[type=time] + label:after, input[type=date] + label:after, input[type=datetime-local] + label:after, input[type=tel] + label:after, input[type=number] + label:after, input[type=search] + label:after, textarea.materialize-textarea + label:after {
    display: block;
    content: "";
    position: absolute;
    top: 60px;
    width: 200px;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out;
}

.chip {
    border-radius: 0;
}

.chip-wrapper {
    padding: 1.0rem 0.75rem 0;
    margin-bottom: 0.4rem;
}

.chip-wrapper h4 {
    margin: 0.5rem 0;
}

.placement-date:before {
    content: "Дата создания: ";
}

.rating i {
    width: 3rem;
    font-size: 3rem;
}

.publication-date:before {
    content: "Дата размешения: ";
}

.end-date:before {
    content: "Дата окончания: ";
}

.narrow-row {
    margin-bottom: 0;
}