body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.action-btn-position {
    position: absolute;
    top: -5px;
    right: 5px;
}

.activator-wrapper {
    cursor: pointer;
    transform: rotate(90deg);
}

.block {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chip-wrapper {
    padding: 1.0rem 0.75rem 0;
}

.chip-wrapper h4 {
    margin: 0.5rem 0;
}

.card .card-action a {
    margin-right: 5px;
}

.card .card-content-wrapper {
    padding: 15px 10px 10px;
}

.card .card-title-wrapper {
    height: 60px;
    max-height: 60px;
    font-size: 18px;
    line-height: 20px;
}

.card .description, .card .goal, .card .audience {
    height: 34px;
    max-height: 34px;
    padding: 2px;
    line-height: 1.3;
    font-size: 12px;
}

.card .description {
    height: 45px;
    max-height: 45px;
    margin: 7px 0;
}

.card .audience {
    height: 18px;
    max-height: 18px;
}

.card-content h6 {
    font-weight: 400;
}

.card .badge {
    top: 5px;
    right: 35px;
}

.card .card-action-wrapper {
    padding: 10px;
    position: relative;
    height: 60px;
    z-index: 1;
}

.card-action .left-block {
    float: left;
}

.card-action .right-block {
    float: right;
    margin-right: 41px;
}

.card .fixed-action-btn ul {
    bottom: 35px;
}

.card .fixed-action-btn ul li {
    margin-bottom: 5px;
}

.card .right-block .float-btn-wrapper {
    margin-right: 0;
}

.card .card-reveal-wrapper {
    padding: 10px;
    text-align: justify;
}

.card-question {
    line-height: 25px;
    margin: -2px 0;
}

.divider-wrapper {
    margin: 2px 0;
}

strong {
    color: #009688;
    font-weight: 800;
}

.visibility-icon {
    position: absolute;
    top: 1px;
    right: 7px;
    padding-top: 2px;
}

.visibility-icon:hover {
    cursor: default;
}