footer.page-footer {
    margin-top: 20px;
    padding-top: 0;
}

.question {
    border: 2px solid #a1887f;
    border-radius: 5px;
    padding: 0 10px 10px;
    margin-bottom: 50px;
}

.question:first-of-type {
    margin-top: 20px;
}

.question:last-of-type {
    margin-bottom: 40px;
}

.question-text {
    font-size: 1.4rem;
}

.error {
    color: white;
    border-radius: 2px;
    margin: 10px -10px;
    padding: 10px 10px;
}

.number {
    width: 30px;
    height: 30px;
    margin: 0 auto -15px;
    position: relative;
    bottom: 15px;
    line-height: 30px;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.input-field label.fix {
    left: 0;
}

.rating span {
    display: inline-block;
    font-size: 14pt;
}

.rating i {
    font-size: 2.6rem;
    margin-bottom: -20px;
}

.rating i:hover {
    cursor: pointer;
}

.rating-wrapper {
    line-height: 10pt;
    display: inline-block;
    width: 2.9rem;
    margin-bottom: 20px;
}