footer.page-footer {
    margin-top: 20px;
    padding-top: 0;
}

.question {
    border: 2px solid #90a4ae;
    border-radius: 5px;
    padding: 0 10px 10px;
    margin-bottom: 50px;
}

.question:first-of-type {
    margin-top: 20px;
}

.question:last-of-type {
    margin-bottom: 40px;
}

.question-text {
    font-size: 1.2rem;
}

.error {
    color: white;
    border-radius: 2px;
    margin: 10px -10px;
    padding: 10px 10px;
}

.number {
    width: 30px;
    height: 30px;
    margin: 0 auto -15px;
    position: relative;
    bottom: 15px;
    line-height: 30px;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.input-field label.fix {
    left: 0;
}

.rating span {
    display: inline-block;
    font-size: 14pt;
}

.rating i {
    font-size: 2.6rem;
    margin-bottom: -20px;
}

.rating i:hover {
    cursor: pointer;
}

.rating-wrapper {
    line-height: 10pt;
    display: inline-block;
    width: 2.9rem;
    margin-bottom: 20px;
}

.special-input {
    margin-top: 5px;
}

.special-row {
    margin-top: -1rem;
    margin-bottom: 0;
}

.row .col .special-col,
.row .col .optional-col {
    margin-left: 0;
}

.row .btn-col {
    padding: 0;
}

.row .col .optional-col {
    width: 35px;
}