.collapsible-header-fix {
    min-height: 1px;
    padding: 0.5rem;
    line-height: 1.2;
}

.collapsible-row {
    margin: 10px 0 5px;
}

.custom-answer {
    display: inline-block;
    margin: 5px;
    padding: 2px;
    border: 1px solid #009688;
    border-radius: 3px;
}

.chart-container {
    margin: 0 auto;
    width: 100%;
    height: 100%
}

.collapsible-header:hover {
    background-color: #eee;
}

.highcharts-title {
    display: none;
}

.table-btn, .col-chart-btn, .pie-chart-btn {
    margin-bottom: 5px;
}

.mobile {
    padding: 5px;
}

.mobile-cell {
    min-width: 20%;
}

.mobile-row {
    margin-bottom: -10px;
    margin-top: 5px;
}

table tr {
    border-top: 1px solid #d0d0d0;
}

table tr:first-of-type {
    border-top: none;
}

.fixed-btn-item {
    top: 65px;
}

.export-btn {
    right: 0;
    top: .7rem;
    position: relative;
    float: right;
}

.custom-answer:hover, .user-answer:hover {
    cursor: pointer;
    background-color: #a1ded8;
}