html, body {
    height: 100%;
}

.question {
    padding: 10px 15px 0;
    width: 100%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 5px;
}

.question .answers {
    margin: 20px 0 0 0;
}

.answers label {
    color: #757575;
}

section {
    margin-top: 30px;
}

section .badge {
    position: relative;
    height: 30px;
    max-width: 30px;
    margin: 15px auto -15px;
    line-height: 14px;
    border-radius: 5px;
    color: white;
}

.badge .text {
    margin: 0 auto;
    font-weight: bold;
}

.box {
    padding: 1.0rem 0.75rem 0;
}

.box h4 {
    margin: 0.5rem 0;
}

.error-alert {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 2px;
    padding: 10px 5px;
}

.error-alert ul {
    list-style-type: disc;
}